body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(111, 163, 246);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#icon {
    width: 62px;
}

#links {
    padding-right: 10px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(7, 49, 98);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.noticias {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(94, 138, 209);
    padding: 6px;
    margin: 40px;
    border-radius: 40px;

}

.noticia {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(72, 155, 243);
    border: 4px solid rgb(255, 255, 255);
}

.escalacao {
    text-align: center;
    border-radius: 40px;

    background-color: rgb(94, 138, 209);
    margin: 40px;
}

#titulo_escalacao {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#mosqueteiro {
    right: 0px;
    bottom: -140px;
    position: fixed;
}

#jogadores {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.jogador {
    text-align: center;

}

#icon_jogador {
    width: 52px;
}

.img_noticia {
    width: 300px;
    height: 200px;
}

footer {
    background-color: rgb(7, 49, 98);
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}